html,body {
  background-color: #ededed;
  color: #333;
  font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link {
  color: #00b1ff;
  text-decoration: none;
}

a:active {
  color: #48b4e3;
}

a:visited {
  color: #48b4e3;
}

a:hover {
  color: #ff9300;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}



#gb_box {
  max-width: 1080px;
/*  padding: 10px;*/
  margin: auto;
}

#ps_name {
  font-size: 2.5em;
  margin: 0 0 10px 0;
  padding: 0;
}

#ps_basic {
  float: left;
  width: 760px;
}

#ps_imgs {
  float: right;
  padding: 20px;
}

#ps_names {
/*  line-height: 1.5em;*/
}

#ps_rough {
  border-left: 3px solid #ff9300;
  background-color: #fff2e0;
  padding: 7px 0;
  overflow: hidden;
  font-size: 0.9em;
  color: #585858;
  margin-bottom: 15px;
}

.ps_rough_ls {
  float: left;
  vertical-align: middle;
  padding: 0 10px;
  border-right: 1px solid #9d9d9d;
}

.ps_rough_ls:last-child {
  border: none;
}

.ps_tag_ls {
  float: left;
  margin: 0 5px;
  padding: 0 15px;
  line-height: 1.8;
  border-radius: 10px;
  font-size: 0.9em;
  background-color: antiquewhite;
}

.ps_tag_ls:first-child {
  margin-left: 0;
}

#ps_tag {
  overflow: hidden;
  margin-bottom: 15px
}

.para {
  word-wrap: break-word;
  text-indent: 2em;
  margin: 5px 0;
  line-height: 1.5;
}

.rala_img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.rela_ls {
  padding: 0px 25px 10px 20px;
  float: left;
  font-size: 0.9em;
}

.rela_intro {
  color: #ff9300;
  font-size: 1em;
  border-right: 1px solid #ffe9cb;
  padding: 0 3px;
}

.rela_flow {
  padding: 2px;
  text-align: center;
  line-height: 1.6;
}

.rela_name {
  font-size: 1em;
  font-weight: bold;
  color: #585858;
}

#rela {
  overflow: hidden;
  
}

#basic_case {
  border-left: 3px solid #00b1ff;
  background-color: #eaf9ff;
  overflow: hidden;
  padding: 10px;
  font-size: 0.9em;
  margin-left: 20px;
}

.basic_ls {
  float: left;
  width: 49%;
  line-height: 1.2;
  margin: 4px 0;
  font-size: 0.9em;
}

.basic_la {
  display: inline-block;
  width: 30%;
  color: #9d9d9d;
  border-right: 1px solid #9d9d9d;
  vertical-align: middle;
  margin-right: 5px;
  word-wrap: normal;
  overflow: hidden;
}

.basic_sp {
  color: #585858;
  overflow: hidden;
}

#cats_case {
  border-left: 3px solid #00b1ff;
  background-color: #eaf9ff;
  overflow: hidden;
  padding: 10px;
  font-size: 0.9em;
}

.cats_ls {
  float: left;
  width: 49%;
  line-height: 1.7;
  margin: 2px 0;
}

.cats_la {
  display: inline-block;
  width: 30%;
  color: #9d9d9d;
  border-right: 1px solid #9d9d9d;
  font-size: 0.8em;
  vertical-align: middle;
  margin-right: 5px;
  word-wrap: normal;
}

.cats_sp {
  font-size: 0.8em;
  color: #585858;
}
   
.gb_flag {
  position: relative;
  border-left: 6px solid #ff9300;
  padding: 0 10px;
  font-size: 1.4em;
  float: left;
  background-color: #fff;
}

#basic {
  overflow: hidden;
  margin-bottom: 20px;
  
}

.line_midde {
  position: relative;
  top: 35px;
  left: 5px;
  border-top: 1px solid #e0e0e0;
  display: block;
}

.gb_modu {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 10px #afafaf;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#gb_axis {
  border-left: 3px solid #00b1ff;
  padding-left: 10px;
}

.gb_axis_tit {
  position: relative;
  overflow: hidden;
  line-height: 25px;
  line-height: 25px;
  margin-bottom: 15px;
  margin-left: -14px;
  border-left: 4px solid #000000;
  padding-left: 15px;
}

.gb_axis_name {
  padding-right: 10px;
  background-color: #fff;
  float: left;
  margin: 0;  
  border-bottom: 1px solid #fff;
}

.gb_axis_des {
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.8em;
  color: #9d9d9d;
  padding-right: 10px;
  vertical-align: sub;
}

.gb_axis_un {
  padding: 0 5px;
  border-right: 1px solid #9d9d9d;
}

.gb_axis_un:last-child {
  border: 0;
}
.showhide {
  float: right;
}

.gb_axis_dt {
  position: relative;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: -14px;
  border-left: 4px solid #ff9300;
  padding-left: 13px;
}

.gb_axis_dd {
  text-indent: 2em;
  padding: 10px 0;
  margin: 0;
  overflow: hidden;
}

.gb_axis_img {
  float: right;
}

.icon-outer-box {
  position: absolute;
  top: 0;
  left: -10px;
  height: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
/*  background-color: #fff;*/
}

.icon-cas {
  display: inline-block;
  width: 10px;
  height: 10px;
/*  line-height: 10px;*/
  border-radius: 50%;
  background-color: #ff9300;
}
